.product-image {
  max-width: 50px;
}

.korgbttn+ {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}

.korgbttn-:hover {
  background-color: #fd0606;
}

.total {
  margin-top: 20px;
}

.total-row {
  font-weight: bold;
  font-size: 18px;
}

.quantity-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

