.containerChest {
  display: grid;
  grid-template-columns: 40% 40%;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(147, 92, 92);
  padding: 20px;
}

.image-containerChest {
  max-width: 100%;
}

.image-containerChest img {
  max-width: 300px;
  height: 200px;
  /* Justera höjden om det behövs, eller låt den vara auto för att bibehålla proportionerna. */
}

.text-containerChest {
  max-width: auto;
  height: 200px;
  margin: 50px;
  overflow: hidden;

}

#read-more-buttonChest {
  display: block;
  margin-top: 10px; /* Anpassa efter behov */
}
