.container {
    /* background-color: aqua; */
    bottom: 0;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    position: static;
    
}

/*----------- BAR SOCIAL -----------*/
.container-sm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sm a {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgb(0, 0, 0, .3); /* Här är skuggan */
    transform: translateY(0) scale(1);
    opacity: 1;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    margin: 0 4px;
}



 .container-sm a i {
    color: #000;
    font-size: 15px;
    line-height: 30px;
}

/*inlinkd*/
 .container-sm a:nth-child(1):hover {
    opacity: 1;
    background: #1877F2;
    transform: translateY(-6px) scale(1.2);
}

/*facebok*/
.container-sm a:nth-child(2):hover {
    opacity: 1;
    background: #1877F2;
    transform: translateY(-6px) scale(1.2);
}

/*instgram*/
.container-sm a:nth-child(3):hover {
    opacity: 1;
    background: rgb(255,0,172);
    background: linear-gradient(222deg, rgba(255,0,172,1) 0%, rgba(252,176,69,1) 100%);
    transform: translateY(-6px) scale(1.2);
}

/*för telefonnummern*/
a {
    color: rgb(0, 136, 255);
    font-size: 18px;
}